:root {
  font-family: Helvetica, Arial, sans-serif;
  // font-family: "early-sans-variable", sans-serif;
  // font-variation-settings: "wght" 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: 30, 30, 30;
  --foreground: 245, 245, 245;
}

* {
  line-height: 1;
}

html {
  font-size: 12px;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

body {
  overflow-x: hidden;
}

html,
body {
  touch-action: none;
}

.button {
  background: rgb(var(--foreground));
  color: rgb(var(--background));
  padding: 0.6rem 1.2rem;
  transition-duration: 0.3s;
  opacity: 1;

  &.light {
    background: rgba(var(--background), 0.6);
    color: var(--foreground);
    backdrop-filter: blur(8px);
    border-width: 2px;

    &:hover {
      background: rgba(var(--background), 1);
    }
  }

  &.sm {
    padding: 0.5rem 0.8rem;
  }

  &:hover {
    background: rgba(var(--foreground), 0.8);
  }
}

.link {
  transition-duration: 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}

.scrollbar-slim {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--foreground), 0.2);
    transition-duration: 0.3ms;
    cursor: pointer;

    &:hover {
      background-color: rgba(var(--foreground), 0.4);
    }
  }
}

.scrollbar-hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

input {
  background: rgba(var(--background), 0.6);
  color: var(--foreground);
  backdrop-filter: blur(8px);
  border-width: 2px;
  padding: 0.6rem !important;
  outline: none !important;
  transition-duration: 300ms;
  border-radius: 0;

  &:focus {
    border-color: rgb(var(--foreground));
  }
}

::placeholder {
  color: rgba(var(--foreground), 0.6) !important;
}

.spinner {
  width: 14px;
  height: 14px;
  border-width: 2px;
  border-top-color: rgb(var(--foreground));
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.react-transform-component {
  width: 100% !important;
  height: 100% !important;
}
