:root {
  font-family: "Host Grotesk", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: 0, 0, 0;
  --foreground: 255, 255, 255;
  --gray: 50, 50, 50;
}

* {
  line-height: 1;
}

html {
  font-size: 12px;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

body {
  overflow-x: hidden;
}

.button {
  background: rgb(var(--foreground));
  color: rgb(var(--background));
  padding: 0.6rem 1.2rem;
  transition-duration: 0.3s;
  opacity: 1;
  border-radius: 0.5rem;

  &:hover {
    background: rgba(var(--foreground), 0.8);
  }

  &.light {
    background: rgba(var(--gray), 0.6);
    color: var(--foreground);
    backdrop-filter: blur(8px);

    &:hover {
      filter: brightness(1.25);
    }
  }

  &.sm {
    padding: 0.6rem 0.8rem;
  }
}

.link {
  transition-duration: 300ms;
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }
}

.scrollbar-slim {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--gray), 0.6);
    transition-duration: 0.3ms;
    cursor: pointer;
    border-radius: 100vw;

    &:hover {
      background-color: rgba(var(--gray), 0.8);
    }
  }
}

.scrollbar-hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

input {
  background: rgba(var(--gray), 0.6);
  color: var(--foreground);
  backdrop-filter: blur(8px);
  padding: 0.6rem 0.8rem !important;
  outline: none !important;
  transition-duration: 300ms;
  border-radius: 0.5rem !important;
}

::placeholder {
  color: rgba(var(--foreground), 0.5) !important;
}

.spinner {
  width: 1.25rem;
  height: 1.25rem;
  border-width: 2px;
  border-top-color: rgb(var(--foreground));
  border-radius: 100%;
  animation: spin 1s linear infinite;

  &.lg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.clip-none {
  clip-path: inset(0% 0% 0% 0%);
}

.clip {
  clip-path: inset(0% 0% 100% 0%);
}
